*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height:100%;
    width:100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}




#card{
    text-align: center;
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

#card img{
    border-radius: 10px;
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#card h1{
    font-size: 25px;
    margin: 10px 0;
}
#card h5{
    font-size: 25px;
    color: red;
    margin-bottom: 20px;

}


#card button{
    margin: 5px;
    background-color: cadetblue;
    font-weight: 700;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#card #remove{
    background-color: #dadada;
    color: black;
}